{
    "root": true,
    "extends": ["@copiest/eslint-config-copiest/react"],
    "rules": {
        "@typescript-eslint/no-use-before-define": "off"
    },
    "env": {
        "jest/globals": true
    },
    "plugins": ["testing-library", "jest"]
}